.wolt-field-input {
  display: grid;
  grid-template-columns: 2fr 3fr 1fr;
  gap: 10px;
  align-items: center;
}

.wolt-field-input label {
  font-weight: bold;
}

.wolt-field-input input {
  position: relative;
  border-radius: 8px;
  padding: 10px;
  border: 0px;
  outline-color: var(--button-hover);
}

.wolt-field-input
  input[type="datetime-local"]::-webkit-calendar-picker-indicator {
  background: transparent;
  bottom: 0;
  color: transparent;
  cursor: pointer;
  height: auto;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: auto;
}

.wolt-field-input ::placeholder {
  color: rgb(203, 201, 201);
}
